<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.madcyph3r.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_drawer_icon"
        android:label="@string/app_name"
        android:theme="@style/MaterialNavigationDrawerTheme.Light"
        tools:replace="android:icon,android:theme">

        <!-- Main Activity. Use Drawer for the examples with parallax recycleview -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DummyActivity">

        </activity>
        <activity
            android:name=".example.testLand.dgdemo"
            android:theme="@style/MaterialNavigationDrawerTheme" />
        <!-- Theme: -->
        <!-- dark theme -->
        <activity
            android:name=".example.theme.DarkThemeActivity"
            android:theme="@style/MaterialNavigationDrawerTheme" />
        <!-- light theme -->
        <activity
            android:name=".example.theme.LightThemeActivity"
            android:theme="@style/MaterialNavigationDrawerTheme.Light" />
        <!-- own theme -->
        <activity
            android:name=".example.theme.MyThemeActivity"
            android:theme="@style/MyOwnTheme" />
        <!-- unique toolbar color -->
        <activity
            android:name=".example.theme.UniqueToolbarColorActivity"
            android:theme="@style/UniqueToolbarColorTheme" />
        <!-- overlay -->
        <activity
            android:name=".example.theme.ActionBarOverlayActivity"
            android:theme="@style/ActionBarOverlayTheme" />
        <!-- KitKat Translucent StatusBar -->
        <activity
            android:name=".example.theme.KitKatTranslucentStatusBarActivity"
            android:theme="@style/MaterialNavigationDrawerTheme.TranslucentKitKatStatusBar" />
        <!-- Actionbar Own Font ActionBar -->
        <activity android:name=".example.theme.ActionBarOwnFontActivity" />
        <!-- Own Drawer Width -->
        <activity android:name=".example.theme.OwnDrawerWidthActivity" />
        <activity
            android:name=".example.theme.OnlyIconsActivity"
            android:theme="@style/BelowToolbarTheme" />

        <!-- Drawer Types -->
        <activity
            android:name=".example.drawerTypes.MultiPaneSupportActivity"
            android:theme="@style/MultiPaneSupportTheme" />
        <activity
            android:name=".example.drawerTypes.MultiPaneSupportBelowToolbarActivity"
            android:theme="@style/MultiPaneBelowToolbarSupportTheme" />

        <!-- Header Types -->
        <activity android:name=".example.headerTypes.NoHeaderActivity" />
        <activity
            android:name=".example.headerTypes.NoHeaderBelowToolbarActivity"
            android:theme="@style/BelowToolbarTheme" />
        <activity android:name=".example.headerTypes.ImageHeaderActivity" />
        <activity
            android:name=".example.headerTypes.ImageHeaderBelowToolbarActivity"
            android:theme="@style/BelowToolbarTheme" />
        <activity android:name=".example.headerTypes.CustomHeaderActivity" />
        <activity
            android:name=".example.headerTypes.CustomHeaderBelowToolbarActivity"
            android:theme="@style/BelowToolbarTheme" />
        <activity android:name=".example.headerTypes.HeadItemOneActivity" />
        <activity
            android:name=".example.headerTypes.HeadItemOneBelowToolbarActivity"
            android:theme="@style/BelowToolbarTheme" />
        <activity android:name=".example.headerTypes.HeadItemThreeActivity" />
        <activity android:name=".example.headerTypes.HeadItemFiveActivity" />

        <!-- Head Item Types -->
        <activity android:name=".example.headItemTypes.HeadItemFiveExtraMenuActivity" />
        <activity android:name=".example.headItemTypes.HeadItemTwoExtraMenuActivity" />
        <activity android:name=".example.headItemTypes.HeadItemThreeDontCloseOnChangeActivity" />
        <activity android:name=".example.headItemTypes.HeadItemFiveDontCloseOnChangeActivity" />
        <activity
            android:name=".example.headItemTypes.HeadItemOneBlackThemeActivity"
            android:theme="@style/MaterialNavigationDrawerTheme" />
        <activity android:name=".example.headItemTypes.HeadItemTwoOnlyOneHasMenuActivity" />
        <activity android:name=".example.headItemTypes.HeadItemTwoNoFragmentLoadOnChangeActivity" />
        <activity android:name=".example.headItemTypes.HeadItem100StaticBackgroundActivity" />

        <!-- Menu -->
        <activity android:name=".example.menu.AllMenuTypesActivity" />
        <activity android:name=".example.menu.AddRemoveMenuItemsActivity" />
        <activity android:name=".example.menu.SectionFragmentTitleActivity" />
        <activity android:name=".example.menu.StartSectionActivity" />

        <!-- Back Pattern -->
        <activity android:name=".example.backPattern.BackPatternCustomActivity" />
        <activity android:name=".example.backPattern.BackPatternDefaultActivity" />
        <activity android:name=".example.backPattern.BackPatternStartIndexActivity" />
        <activity android:name=".example.backPattern.BackPatternLastSectionActivity" />

        <!-- Listener -->
        <activity android:name=".example.listener.HeadItemOneAvatarOnClickListenerActivity" />
        <activity android:name=".example.listener.HeadItemOneBackgroundOnClickListenerActivity" />
        <activity android:name=".example.listener.SectionChangeListenerActivity" />
        <activity android:name=".example.listener.DrawerListenerActivity" />
        <activity android:name=".example.listener.HeadItemThreeChangeListenerActivity" />

        <!-- Functionally -->
        <activity android:name=".example.functionally.ActionBarButtonsActivity" />
        <activity android:name=".example.functionally.AddRemoveHeadItemRuntimeActivity" />
        <activity android:name=".example.functionally.NoClosePrevDrawerActivity_Activity" />
        <activity android:name=".example.functionally.ClosePrevDrawerActivity_Activity" />
        <activity android:name=".example.functionally.SetCustomFragmentActivity" />
        <activity android:name=".example.functionally.MasterChildNavActivity" />

        <!-- Other -->
        <activity android:name=".example.functionally.noClosePrevDrawerActivity.NoCloseActivity" />
        <activity android:name=".example.functionally.closePrevDrawerActivity.CloseActivity" />
    </application>

</manifest>